body, .font-family-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .lead, .btn, .font-family-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-size-large {
  font-size: 1.5em;
}
