.center-name {
  position: relative;
  left: -50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 6rem;

  }
}

.cultuurfonds-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.jumbotron-container {
  height: 100vh;
}

.blur-container {
  backdrop-filter: blur(3px);
}

.jumbotron-container-container {
  background-image: url("https://ensemblezoef.nl/zoef-totaal.jpg"), linear-gradient(rgba(34, 127, 132, 0.3), rgba(34, 127, 132, 0.3));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}
