.center-name {
  position: relative;
  left: -500px;
  top: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 6rem;
  }
}

.cultuurfonds-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
